/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: "fontss";
  src: url("//at.alicdn.com/wf/webfont/Mfb8p4ppZIQz/D3mxHS5WL6vQ.woff2")
      format("woff2"),
    url("//at.alicdn.com/wf/webfont/Mfb8p4ppZIQz/LPTxHFK6si9B.woff")
      format("woff");
  font-display: swap;
}
